.moving-tiles{
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #141E30 , #243B55);
  display: block;
  overflow: hidden;
}
.moving-tiles .box{
    float: left;
    width: 25%;
    height: 25%;
    background: yellow;
    margin: 0;
    animation: shift 2s ease-in-out infinite alternate;
    box-shadow: 0;
    opacity: 1;
}
@for $i from 17 to 1{
  .box:nth-child(#{$i}){
    animation-delay: $i * .2s;
  }
}
@keyframes shift {
  from {
    transform: scale(1) rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: scale(0.9) rotateX(10deg) rotateY(10deg);
    box-shadow: -10px 10px 30px -10px;
    opacity: 0.2;
  }
}
